/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/font/AvenirNextLTPro-Regular.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/font/AvenirNextLTPro-Demi.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/font/AvenirNextLTPro-Bold.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Medium";
  src: url("/assets/font/AvenirNextLTPro-Medium.otf"), format(opentype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*About Section*/
.bandsite-about {
  margin: auto;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about {
    width: calc(100% - 4.5rem);
    margin: auto;
    padding: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .bandsite-about {
    width: calc(100% - 22rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.bandsite-about__responsive-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__responsive-div {
    padding: 0 4rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__responsive-div {
    padding: 0 4rem;
  }
}
.bandsite-about__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: #323232;
  font-family: "Avenir Medium";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.bandsite-about__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
  max-width: 100%;
  max-height: 20rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__image {
    max-height: 25rem;
    margin: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__image {
    max-height: 36vw;
    margin: 2rem 0;
  }
}
.bandsite-about__text-div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__text-div {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__text-div {
    flex-direction: row;
    gap: 1.5rem;
  }
}
.bandsite-about__text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  margin-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: 50%;
  }
}
.bandsite-about__text--bold {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  line-height: 2.2rem;
  color: #323232;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__text--bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__text--bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__text-quote {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-family: Avenir Medium;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__text-quote {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
}
.bandsite-about__text--demi {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-about__text--demi {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Medium";
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-about__text--demi {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Medium";
    margin-top: 3rem;
  }
}

/*Photo Gallery*/
.bandsite-photo-gallery {
  padding: 1rem;
  background-color: #fafafa;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-photo-gallery {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .bandsite-photo-gallery {
    padding: 2.5rem 0;
  }
}
.bandsite-photo-gallery__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #323232;
  font-family: "Avenir Medium";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .bandsite-photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.bandsite-photo-gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-photo-gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .bandsite-photo-gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.bandsite-photo-gallery img {
  height: auto;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-photo-gallery img {
    width: 31.5%;
  }
}
@media (min-width: 1280px) {
  .bandsite-photo-gallery img {
    width: 32%;
  }
}

@media (min-width: 1280px) {
  .bandsite-gallery-desktop {
    width: calc(100% - 22rem);
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-gallery-tablet {
    width: calc(100% - 4.5rem);
    margin: auto;
  }
}/*# sourceMappingURL=bio.css.map */