/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Font Mixins (Universal)*/
/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Font Mixins (Universal)*/
/*Bandsite & Shows Header*/
.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    padding: 1.5rem 4rem 1.5rem 0rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding: 1.5rem 4rem 1.5rem 0rem;
  }
}
.header__logo--img {
  height: 1.25rem;
  width: auto;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 4.5rem);
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 18rem);
    margin: auto;
  }
}
.header__nav-list {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-list {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .header__nav-list {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: auto;
  }
}
.header__nav-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}
.header__nav-list-item:hover {
  border-bottom: 0.2rem solid white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-list-item {
    width: auto;
    margin: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header__nav-list-item {
    width: auto;
    margin: 0 1.5rem;
  }
}
.header__nav-list-item--active {
  border-bottom: 0.2rem solid white;
  font-weight: 500;
}

/*Bandsite Subheader*/
.bandsite-subheader {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader {
    height: 62vw;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader {
    height: 50vw;
    width: calc(100% - 18rem);
    margin: auto;
    padding: 0;
  }
}
.bandsite-subheader-overlay {
  background: url(../assets/images/hero-bio.jpg) rgba(50, 50, 50, 0.4);
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-blend-mode: hue;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader-overlay {
    height: 62vw;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader-overlay {
    height: 50vw;
  }
}
.bandsite-subheader__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
  color: white;
  position: relative;
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}

/*Shows Subheader*/
.shows-subheader {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 2.5rem 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader {
    justify-content: center;
    gap: 0;
    height: 62vw;
    padding: 2rem;
    width: calc(100% - 7.5rem);
  }
}
@media (min-width: 1280px) {
  .shows-subheader {
    flex-direction: row;
    align-items: center;
    height: 50vw;
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.shows-subheader-overlay {
  background: url(../assets/images/hero-shows.jpg) rgba(50, 50, 50, 0.4);
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-blend-mode: hue;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader-overlay {
    height: 65vw;
    background-position: center;
  }
}
@media (min-width: 1280px) {
  .shows-subheader-overlay {
    height: 50vw;
  }
}
.shows-subheader__text {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  width: -webkit-fill-available;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__text {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__text {
    width: auto;
  }
}
.shows-subheader__section-header {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  font-family: "Avenir Demi";
  font-family: "Avenir Regular";
  color: white;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
  }
}
.shows-subheader__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
  color: white;
  position: relative;
  line-height: 2rem;
  max-width: 75%;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    max-width: 100%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    max-width: 92%;
    padding-bottom: 3rem;
  }
}

iframe {
  width: -webkit-fill-available;
}
@media (min-width: 768px) and (max-width: 1279px) {
  iframe {
    width: calc(100% - 10.5rem);
    height: 10rem;
  }
}
@media (min-width: 1280px) {
  iframe {
    width: calc(100% - 14.5rem);
    height: 10rem;
  }
}

/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Font Mixins (Universal)*/
/*Footer*/
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
.footer__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
.footer__social {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
.footer__social--icon {
  width: auto;
  height: 1.3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
.footer__contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 100;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact {
    flex-direction: row;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    gap: 3rem;
    padding-bottom: 3rem;
    inline-size: auto;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    flex-direction: row;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    gap: 3rem;
    padding-bottom: 3rem;
    inline-size: auto;
  }
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}
.footer__contact-list--bold {
  font-family: "Avenir Demi";
}
.footer__logo {
  padding: 4rem 0 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    bottom: 275px;
    right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    bottom: 288px;
    right: 11rem;
  }
}
.footer__logo--img {
  width: auto;
  height: 1.25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-top {
    display: flex;
    flex-direction: row;
    gap: 0.825rem;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer .footer-top {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer .footer-desktop {
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-tablet {
    width: calc(100% - 4.5rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.footer__copyright {
  color: white;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 0.7125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 1rem;
  }
}

/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Font Mixins (Universal)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Regular";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  max-height: 20px;
}

/*About Section*/
.about {
  margin: auto;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about {
    width: calc(100% - 4.5rem);
    margin: auto;
    padding: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .about {
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.about__responsive-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__responsive-div {
    padding: 0 3.5rem;
  }
}
@media (min-width: 1280px) {
  .about__responsive-div {
    padding: 0 4rem;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
.about__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
  max-width: 100%;
  max-height: 20rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__image {
    max-height: 21rem;
    margin: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .about__image {
    max-height: 36vw;
    margin: 2rem 0;
  }
}
.about__text-div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__text-div {
    flex-direction: row;
    gap: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__text-div {
    flex-direction: row;
    gap: 1.5rem;
  }
}
.about__text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  margin-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .about__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: 50%;
  }
}
.about__text--bold {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  line-height: 1.325rem;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-family: "Avenir Demi";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__text--bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
    font-size: 1.3rem;
    margin-bottom: 0;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 1280px) {
  .about__text--bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
    font-size: 1.4rem;
    margin-bottom: 0;
    width: 78%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__text-quote {
    font-size: 0.925rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .about__text-quote {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}
.about__text--demi {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-family: "Avenir Demi";
  margin-top: 1rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__text--demi {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .about__text--demi {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Avenir Demi";
    margin: 3rem 0 1rem 0;
  }
}

/*Photo Gallery*/
.photo-gallery {
  padding: 1rem;
  background-color: #fafafa;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 2.5rem 0;
  }
}
.photo-gallery__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
  margin-bottom: 1rem;
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    margin-bottom: 2rem;
  }
}
.photo-gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.photo-gallery img {
  height: auto;
  width: 100%;
  filter: grayscale(1);
}
.photo-gallery img:hover {
  filter: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery img {
    width: 31.5%;
  }
}
@media (min-width: 1280px) {
  .photo-gallery img {
    width: 32%;
  }
}

@media (min-width: 1280px) {
  .gallery-desktop {
    width: calc(100% - 18rem);
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .gallery-tablet {
    width: calc(100% - 4.5rem);
    margin: auto;
  }
}

/*Comments Section*/
.form {
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form {
    padding: 2rem 0 1rem 0;
    width: calc(100% - 4.5rem);
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .form {
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2.5rem 0 1rem 0;
  }
}
.form__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-family: "Avenir Demi";
  margin-bottom: 1rem;
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__title {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
@media (min-width: 1280px) {
  .form__title {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Avenir Demi";
  }
}
.form__card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.8rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1rem;
  /*Fieldset Section*/
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__card {
    width: calc(100% - 10.5rem);
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .form__card {
    width: calc(100% - 32.5rem);
    margin: auto;
  }
}
.form__card-img {
  padding: 2rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__card-img {
    padding: 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .form__card-img {
    padding: 1.5rem 0;
  }
}
.form__card-img--avatar {
  max-width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  filter: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__card-img--avatar {
    max-width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .form__card-img--avatar {
    max-width: 3rem;
    height: 3rem;
  }
}
.form__card-fieldset {
  border: none;
}
.form__card-fieldset--title {
  font-size: 0.825rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: "Avenir Demi";
  color: #afafaf;
  line-height: 1.5rem;
  font-size: 0.725rem;
}
.form__card-fieldset--button {
  font-size: 0.825rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: "Avenir Demi";
  background-color: #323232;
  color: white;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
}
.form__card-fieldset--button:hover {
  background-color: #000000;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__card-fieldset--button {
    font-size: 0.825rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    min-width: 9.375rem;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .form__card-fieldset--button {
    font-size: 0.825rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: "Avenir Demi";
    min-width: 9.375rem;
    align-self: flex-end;
  }
}
.form__card-fieldset--placeholder {
  background-color: #e1e1e1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  filter: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__card-fieldset--input-name {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: -webkit-fill-available;
  height: 3rem;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow-wrap: break-word;
}
.form__card-fieldset--input-name:focus {
  outline: 1px solid #323232;
}
.form__card-fieldset--input-comment {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: -webkit-fill-available;
  height: 3rem;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 4px;
  overflow-wrap: break-word;
  height: 7rem;
  resize: none;
}
.form__card-fieldset--input-comment:focus {
  outline: 1px solid #323232;
}
.form #comments-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -webkit-fill-available;
}
.form ::-moz-placeholder {
  color: #323232;
}
.form :-ms-input-placeholder {
  color: #323232;
}
.form ::placeholder {
  color: #323232;
}

/*Comments Div*/
.comments {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments {
    width: calc(100% - 12.3rem);
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .comments {
    width: calc(100% - 48.6rem);
    margin: auto;
    padding-bottom: 2.5rem;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e1e1e1;
  width: -webkit-fill-available;
  /*Comment Section Styling*/
}
@media (min-width: 768px) and (max-width: 1279px) {
  .card {
    padding: 0.5rem 0 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .card {
    padding: 0.5rem 0 1.5rem 0;
  }
}
.card__avatar--image {
  background-color: #e1e1e1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  filter: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .card__avatar--image {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .card__avatar--image {
    width: 3rem;
    height: 3rem;
  }
}
.card .comment {
  width: -webkit-fill-available;
}
.card .comment__user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.3rem 0;
}
.card .comment__user--name {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-family: "Avenir Demi";
  font-weight: 700;
  color: #323232;
}
.card .comment__user--date {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #afafaf;
}
.card .comment__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.card .comment__text--comment {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: auto;
  overflow-wrap: break-word;
  color: #323232;
}
.card .comment__action {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
  padding-top: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .card .comment__action {
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .card .comment__action {
    padding-top: 0;
  }
}
.card .comment__action--like-img {
  background: none;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1rem;
  height: 1rem;
}
.card .comment__action--p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
}
.card .comment__action--like-button:hover {
  filter: invert(75%) sepia(95%) saturate(372%) hue-rotate(289deg) brightness(100%) contrast(97%);
  cursor: pointer;
}
.card .comment__action--delete-button {
  border: none;
  background: none;
  height: 1.4rem;
}
.card .comment__action--delete-button:hover {
  filter: invert(22%) sepia(84%) saturate(7368%) hue-rotate(338deg) brightness(54%) contrast(107%);
  cursor: pointer;
}
.card .comment__action--delete-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 2rem;
  height: 0.8rem;
}/*# sourceMappingURL=bio.css.map */