/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/font/AvenirNextLTPro-Regular.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/font/AvenirNextLTPro-Demi.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/font/AvenirNextLTPro-Bold.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Medium";
  src: url("/Assets/font/AvenirNextLTPro-Medium.otf"), format(opentype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Footer*/
.bandsite-footer {
  padding: 1.5rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1280px) {
  .bandsite-footer {
    padding: 2rem 80px;
  }
}
.bandsite-footer__title {
  color: white;
  font-size: 2.55rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__title {
    font-size: 4.7vw;
  }
}
.bandsite-footer__social {
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
.bandsite-footer__social--icon {
  width: auto;
  height: 2.3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__social--icon {
    height: 1.5rem;
  }
}
.bandsite-footer__contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 4vw;
  font-weight: 100;
  padding: 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__contact {
    flex-direction: row;
    font-size: 1rem;
    gap: 2.2rem;
    padding: 2rem 0;
    inline-size: auto;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer__contact {
    flex-direction: row;
    font-size: 1rem;
    gap: 2.2rem;
    padding: 2rem 0;
    inline-size: auto;
  }
}
.bandsite-footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bandsite-footer__logo {
  padding: 5rem 0 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__logo {
    position: absolute;
    bottom: 315px;
    right: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer__logo {
    position: absolute;
    bottom: 335px;
    right: 5rem;
  }
}
.bandsite-footer__logo--img {
  width: auto;
  height: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer__logo--img {
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer__logo--img {
    height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer .bandsite-footer-top {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer .bandsite-footer-top {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: baseline;
  }
}
.bandsite-footer copyright {
  color: white;
  font-size: 3.5vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-footer copyright {
    font-size: 1rem;
    margin: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .bandsite-footer copyright {
    font-size: 1rem;
    margin: 1rem 0;
  }
}/*# sourceMappingURL=footer.css.map */