@use "./partials/mixins" as *;
@use "./partials/variables" as *;

/*Footer*/

.bandsite-footer {
	padding: 1.5rem;
	background-color: $bandsite-black;
	display: flex;
	flex-direction: column;
	position: relative;

	&__title {
		color: white;
		font-size: 2.55rem;

		@include tablet {
			font-size: 4.7vw;
		}
	}

	&__social {
		margin: 1.5rem 0;
		display: flex;
		justify-content: flex-start;
		gap: 3rem;

		@include tablet {
			gap: 2rem;
			margin: 1.3rem;
		}

		&--icon {
			width: auto;
			height: 2.3rem;

			@include tablet {
				height: 1.5rem;
			}
		}
	}

	&__contact {
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		font-size: 4vw;
		font-weight: 100;
		padding: 1rem 0;

		@include tablet {
			flex-direction: row;
			font-size: 1rem;
			gap: 2.2rem;
			padding: 2rem 0;
			inline-size: auto;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}

	&__logo {
		padding: 5rem 0 1rem 0;

		@include tablet {
			position: absolute;
			bottom: 315px;
			right: 1.5rem;
		}

		&--img {
			width: auto;
			height: 2rem;

			@include tablet {
				height: 1.5rem;
			}
		}
	}

	.bandsite-footer-top {
		@include tablet {
			display: flex;
			flex-direction: row;
			gap: 1.1rem;
			align-items: baseline;
		}
	}

	copyright {
		color: white;
		font-size: 3.5vw;

		@include tablet {
			font-size: 1rem;
			margin: 1rem 0;
		}
	}
}
