/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/font/AvenirNextLTPro-Regular.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/font/AvenirNextLTPro-Demi.otf"), format(opentype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/font/AvenirNextLTPro-Bold.otf"), format(opentype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Header*/
.bandsite-header {
  background-color: #323232;
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .bandsite-header {
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-header {
    flex-direction: row;
    padding-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-header {
    padding-top: 1rem;
  }
}
.bandsite-header__logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-header__logo {
    padding: 2rem 7.5rem 2rem 3.5rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-header__logo {
    padding-bottom: 1.5rem;
  }
}
.bandsite-header__logo--img {
  height: 2rem;
  width: auto;
}

.bandsite-header__nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-header__nav {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .bandsite-header__nav {
    justify-content: flex-start;
    width: auto;
  }
}
.bandsite-header__nav-list {
  color: white;
  font-size: 1.375rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-header__nav-list {
    font-size: 1.5rem;
    gap: 1.5rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .bandsite-header__nav-list {
    gap: 3rem;
    width: auto;
  }
}
.bandsite-header__nav-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-header__nav-list-item {
    width: 22%;
    padding: 0 1.4rem 1rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-header__nav-list-item {
    width: auto;
    padding-bottom: 1rem;
  }
}
.bandsite-header__nav-list-item--active {
  border-bottom: 0.3rem solid white;
  font-weight: 500;
}

.bandsite-subheader {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader {
    height: 65vw;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader {
    height: 80vw;
  }
}
.bandsite-subheader::before {
  content: "";
  background: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}
.bandsite-subheader__title {
  color: white;
  position: relative;
  margin-left: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader__title {
    font-size: 8vw;
    margin-left: 3.5rem;
  }
}

.bandsite-subheader__overlay {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader__overlay {
    height: 65vw;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader__overlay {
    height: 80vw;
  }
}/*# sourceMappingURL=header.css.map */