@use "./partials/mixins" as *;
@use "./partials/variables" as *;

/*Header*/
.bandsite-header {
	background-color: $bandsite-black;
	display: flex;

	@include mobile {
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
	}

	@include tablet {
		flex-direction: row;
	}

	&__logo {
		display: flex;
		justify-content: center;
		padding: 1rem 0 0.5rem 0;

		@include tablet {
			padding: 1.5rem 4rem 1.5rem 0rem;
		}

		@include desktop {
			padding: 1.5rem 4rem 1.5rem 0rem;
		}

		&--img {
			height: 1.25rem;
			width: auto;
		}
	}
}

.bandsite-header__nav {
	@include flex-column;
	justify-content: space-evenly;

	@include tablet {
		@include flex-row;
		justify-content: flex-start;
		width: calc(100% - 4.5rem);
		margin: auto;
	}

	@include desktop {
		@include flex-row;
		justify-content: flex-start;
		width: calc(100% - 22rem);
		margin: auto;
	}

	&-list {
		@include mobile-copy;
		color: white;
		display: flex;
		justify-content: space-between;
		width: 100vw;

		@include tablet {
			@include copy;
			width: auto;
		}

		@include desktop {
			@include copy;
			width: auto;
		}

		&-item {
			@include flex-row;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 0.5rem 0;

			@include tablet {
				width: auto;
				margin: 0 1.5rem;
			}

			@include desktop {
				width: auto;
				margin: 0 1.5rem;
			}

			&--active {
				border-bottom: 0.2rem solid white;
				font-weight: 500;
			}

			&:hover {
				color: $bandsite-alabaster;
				background-color: rgba(255, 255, 255, 0.3);
				padding: 0.5rem 1rem;
			}
		}
	}
}

/*Subheader*/
.bandsite-subheader {
	position: relative;
	height: 40vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1rem;

	@include tablet {
		height: 54vw;
		padding: 2rem;
	}

	@include desktop {
		height: 50vw;
		width: calc(100% - 22rem);
		margin: auto;
	}

	&__title {
		@include mobile-header;
		color: white;
		position: relative;
		font-family: "Avenir Medium";
		letter-spacing: 1px;

		@include tablet {
			@include page-header;
		}

		@include desktop {
			@include page-header;
		}
	}
}

.bandsite-subheader-overlay {
	position: relative;
	height: 40vh;
	width: 100%;
	display: flex;
	align-items: center;
	background: url(../assets/images/hero-bio.jpg) rgba(50, 50, 50, 0.4);
	background-size: cover;
	background-blend-mode: hue;

	@include tablet {
		height: 54vw;
	}

	@include desktop {
		height: 50vw;
	}
}
