/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Bandsite & Shows Header*/
.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    padding: 1.5rem 4rem 1.5rem 0rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding: 1.5rem 4rem 1.5rem 0rem;
  }
}
.header__logo--img {
  height: 1.25rem;
  width: auto;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 4.5rem);
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: calc(100% - 18rem);
    margin: auto;
  }
}
.header__nav-list {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-list {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .header__nav-list {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: auto;
  }
}
.header__nav-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}
.header__nav-list-item:hover {
  border-bottom: 0.2rem solid white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-list-item {
    width: auto;
    margin: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header__nav-list-item {
    width: auto;
    margin: 0 1.5rem;
  }
}
.header__nav-list-item--active {
  border-bottom: 0.2rem solid white;
  font-weight: 500;
}

/*Bandsite Subheader*/
.bandsite-subheader {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader {
    height: 62vw;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader {
    height: 50vw;
    width: calc(100% - 18rem);
    margin: auto;
    padding: 0;
  }
}
.bandsite-subheader-overlay {
  background: url(../assets/images/hero-bio.jpg) rgba(50, 50, 50, 0.4);
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-blend-mode: hue;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader-overlay {
    height: 62vw;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader-overlay {
    height: 50vw;
  }
}
.bandsite-subheader__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: white;
  position: relative;
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bandsite-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .bandsite-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

/*Shows Subheader*/
.shows-subheader {
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 2.5rem 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader {
    justify-content: center;
    gap: 0;
    height: 62vw;
    padding: 2rem;
    width: calc(100% - 7.5rem);
  }
}
@media (min-width: 1280px) {
  .shows-subheader {
    flex-direction: row;
    align-items: center;
    height: 50vw;
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.shows-subheader-overlay {
  background: url(../assets/images/hero-shows.jpg) rgba(50, 50, 50, 0.4);
  position: relative;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-blend-mode: hue;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader-overlay {
    height: 65vw;
    background-position: center;
  }
}
@media (min-width: 1280px) {
  .shows-subheader-overlay {
    height: 50vw;
  }
}
.shows-subheader__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -webkit-fill-available;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__text {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__text {
    width: auto;
  }
}
.shows-subheader__section-header {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: white;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.shows-subheader__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: white;
  position: relative;
  letter-spacing: 1px;
  max-width: 75%;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    max-width: 100%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows-subheader__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    max-width: 92%;
    padding-bottom: 3rem;
  }
}

iframe {
  width: -webkit-fill-available;
}
@media (min-width: 768px) and (max-width: 1279px) {
  iframe {
    width: calc(100% - 10.5rem);
    height: 10rem;
  }
}
@media (min-width: 1280px) {
  iframe {
    width: calc(100% - 14.5rem);
    height: 10rem;
  }
}

/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
/*Footer*/
.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
.footer__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.footer__social {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    gap: 2rem;
    margin: 1.3rem;
  }
}
.footer__social--icon {
  width: auto;
  height: 1.3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .footer__social--icon {
    height: 1.5rem;
  }
}
.footer__contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  font-weight: 100;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact {
    flex-direction: row;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    gap: 3rem;
    padding-bottom: 3rem;
    inline-size: auto;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    flex-direction: row;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    gap: 3rem;
    padding-bottom: 3rem;
    inline-size: auto;
  }
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
}
.footer__contact-list--bold {
  font-weight: 600;
}
.footer__logo {
  padding: 4rem 0 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    bottom: 275px;
    right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    bottom: 288px;
    right: 11rem;
  }
}
.footer__logo--img {
  width: auto;
  height: 1.25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-top {
    display: flex;
    flex-direction: row;
    gap: 0.825rem;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer .footer-top {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer .footer-desktop {
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .footer-tablet {
    width: calc(100% - 4.5rem);
    margin: auto;
    padding: 2rem 0;
  }
}
.footer__copyright {
  color: white;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-top: 1rem;
  }
}

/*Fonts*/
@font-face {
  font-family: "Avenir Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTPro.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProDemi.ttf") format(truetype);
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format(opentype), url("/assets/fonts/alternative-files/AvenirNextLTProBold.ttf") format(truetype);
}
/*Primary Colors*/
/*Secondary Colors*/
/*Breakpoints*/
/*Flex Mixins*/
/*Font Mixins (Mobile)*/
/*Font Mixins (Tablet & Desktop)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  max-height: 20px;
}

.concerts {
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts {
    width: calc(100% - 2rem);
    margin: auto;
    padding: 2rem 0;
  }
}
@media (min-width: 1280px) {
  .concerts {
    width: calc(100% - 18rem);
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
}
.concerts__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  padding-top: 1rem;
  color: #323232;
  font-family: "Avenir Medium";
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__title {
    padding: 1rem 1.125rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .concerts__title {
    padding: 1rem 8rem 0 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.concerts__titles {
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.125rem;
  }
}
@media (min-width: 1280px) {
  .concerts__titles {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.concerts__titles--text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #afafaf;
  width: 8rem;
}
.concerts__titles--button {
  min-width: 9.375rem;
  visibility: hidden;
}
.concerts__list {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .concerts__list {
    padding: 2rem 0;
    width: calc(100% - 15rem);
    margin: auto;
  }
}
.concerts__list-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__list-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.125rem;
  }
  .concerts__list-card:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .concerts__list-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.125rem;
  }
  .concerts__list-card:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
}
.concerts__list-card--selected {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__list-card--selected {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.125rem;
    background-color: #e1e1e1;
  }
}
@media (min-width: 1280px) {
  .concerts__list-card--selected {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.125rem;
    background-color: #e1e1e1;
  }
}
.concerts__list-card--title {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #afafaf;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__list-card--title {
    display: none;
  }
}
@media (min-width: 1280px) {
  .concerts__list-card--title {
    display: none;
  }
}
.concerts__list-card--date {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
  font-weight: 700;
  width: 8rem;
}
.concerts__list-card--text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: 8rem;
}
.concerts__list-card--button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  background-color: #323232;
  color: white;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
}
.concerts__list-card--button:hover {
  background-color: #000000;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .concerts__list-card--button {
    min-width: 9.375rem;
  }
}
@media (min-width: 1280px) {
  .concerts__list-card--button {
    min-width: 9.375rem;
  }
}/*# sourceMappingURL=shows.css.map */